<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">

    <springProfile name="dev">
        <!-- configuration to be enabled when the "staging" profile is active -->
    </springProfile>
    <springProfile name="!pro">
        <!-- configuration to be enabled when the "production" profile is not active -->
    </springProfile>
    <!--将spring Environment中的属性暴露给logback-spring.xml-->
    <springProperty scope="context" name="environment" source="shuzhou.current.environment" defaultValue="localhost"/>


    <contextName>${environment}</contextName>
    <property name="log.path" value="/var/log/shuzhou" />
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="mapper" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/mapper.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/mapper.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <logger name="com.shuzhou.mapper" level="debug" additivity="true">
        <appender-ref ref="mapper"/>
    </logger>

    <logger name="com.shuzhou.controller" level="WARN"/>
</configuration>